#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

/* Personalized css for my portfolio */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 30px 20px 30px 20px;
  transition: all 0.3s ease;
  background: transparent;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  outline: none;

  height: auto;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;

  animation-duration: 1s;
  animation-name: fadeInUp;
}

#about {
  animation-duration: 1s;
  animation-name: fadeInUp;
}

.nav {
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & li {
    padding-left: 5px;
  }
}

.download_cv {
  background-color: cyan;
  color: white;
  border-radius: 50px;
  padding: 7px 30px 8px;
  transition: all 0.3s ease;
  & a {
    color: #fff;
    display: block;
    font-weight: 600;
    transition: all 0.3s ease;
  }
}

footer {
  left: 0;
  position: fixed;
  color: #80808070;
  margin: 10px !important;
}

/* Aboutme section */

.background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.aboutme-buttons button {
  margin: 10px;
}
.scrolling {
  font-size: small;
  color: gray;
  padding-top: 20px;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1070px;
    padding: 0 20px;
  }
}
.container {
  transition: all 0.3s ease;
  min-height: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0 40px;
  clear: both;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.center-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#more {
  padding-left: 10%;
  padding-right: 10%;
}

/* Aboutme section end */

/* Portfolio section */

#portfolio {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  width: 100%;
  animation-duration: 1s;
  animation-name: fadeInUp;

  .project {
    display: flex;
    cursor: pointer;
    flex: 1 0 300px;
    min-height: 300px;
    text-decoration: none;
    background-size: cover;
    margin: 5px;
    background-color: #b1c8e4;
    background-repeat: no-repeat;
    background-position: center;

    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeInUp;
  }

  .project-content {
    display: flex;
    color: black;
    margin: 15px;
    align-items: flex-end;

    .description {
      color: #140e0e;
    }
  }
}

/* Portfolio section end */

/* About me section */
#about-me {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/GGB.jpeg");
}
#about-me-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 700px;

  #my-picture {
    border-radius: 50%;
    min-height: 300px;
    max-width: 300px;
    min-width: 300px;
    margin: 50px;

    background-size: cover;
    background-position: center;
    background-image: url("../img/Lilian.png");
    box-shadow: -10px 10px 10px #fff;
  }

  #my-bio {
    max-width: 60%;
    align-items: center;
    text-align: left;
  }
}

/* About me section end */

/* Contact section */
.cursor {
  cursor: pointer;
  padding: 5px;
}

#form {
  padding-top: 20px;
  padding-bottom: 20px;
}

#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mb-3 {
  text-align: left;
}

.subtitle {
  font-size: 1.2em;
  line-height: 1.1;
  padding-top: 30px;
}

/* Contact section end */
