/* code taken from: https://codepen.io/sarazond/pen/LYGbwj*/
html {
  height: 100%;
  /*background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
}

#stars {
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1093px 1599px #fff, 1667px 1082px #fff, 1552px 1658px #fff,
    1225px 260px #fff, 770px 1821px #fff, 1144px 1355px #fff, 826px 1315px #fff,
    942px 1535px #fff, 314px 696px #fff, 1297px 264px #fff, 1878px 819px #fff,
    132px 1817px #fff, 878px 1058px #fff, 1357px 407px #fff, 1243px 1687px #fff,
    660px 1095px #fff, 1852px 1907px #fff, 488px 1473px #fff, 284px 316px #fff,
    907px 1522px #fff, 916px 950px #fff, 1064px 43px #fff, 953px 1906px #fff,
    782px 47px #fff, 196px 198px #fff, 1163px 1928px #fff, 1832px 1021px #fff,
    1402px 729px #fff, 646px 1747px #fff, 1448px 1463px #fff, 936px 395px #fff,
    942px 1043px #fff, 883px 1010px #fff, 1688px 1583px #fff, 983px 1128px #fff,
    1685px 1207px #fff, 460px 490px #fff, 1005px 1393px #fff, 815px 196px #fff,
    729px 1114px #fff, 869px 492px #fff, 1572px 1929px #fff, 1668px 603px #fff,
    1874px 1038px #fff, 1666px 470px #fff, 1812px 218px #fff, 215px 1903px #fff,
    1208px 1318px #fff, 169px 529px #fff, 1649px 1925px #fff, 1037px 142px #fff,
    1087px 802px #fff, 1907px 551px #fff, 210px 1600px #fff, 1490px 680px #fff,
    1392px 518px #fff, 1249px 1766px #fff, 196px 1814px #fff, 1347px 1701px #fff,
    1354px 454px #fff, 51px 1225px #fff, 1356px 1431px #fff, 1017px 92px #fff,
    1243px 126px #fff, 442px 707px #fff, 1987px 519px #fff, 1448px 1052px #fff,
    280px 532px #fff, 578px 1086px #fff, 973px 1023px #fff, 853px 866px #fff,
    861px 1321px #fff, 247px 601px #fff, 464px 182px #fff, 1598px 420px #fff,
    1243px 1648px #fff, 297px 1968px #fff, 11px 425px #fff, 1537px 287px #fff,
    1074px 1116px #fff, 1722px 82px #fff, 1015px 488px #fff, 1348px 964px #fff,
    1469px 288px #fff, 649px 506px #fff, 1468px 1184px #fff, 1894px 969px #fff,
    667px 1573px #fff, 116px 1822px #fff, 1417px 414px #fff, 1389px 89px #fff,
    1219px 1486px #fff, 1936px 1513px #fff, 1512px 1420px #fff,
    1599px 611px #fff, 1642px 1800px #fff, 880px 1793px #fff, 1793px 228px #fff,
    725px 1450px #fff, 1348px 687px #fff, 37px 747px #fff, 221px 1506px #fff,
    1029px 1629px #fff, 1223px 25px #fff, 978px 1791px #fff, 1556px 925px #fff,
    1833px 1678px #fff, 431px 1200px #fff, 667px 415px #fff, 1100px 1216px #fff,
    1006px 610px #fff, 1912px 1976px #fff, 1427px 143px #fff, 1198px 337px #fff,
    1975px 70px #fff, 660px 854px #fff, 771px 1522px #fff, 338px 1598px #fff,
    1057px 1999px #fff, 755px 1906px #fff, 221px 1376px #fff, 472px 645px #fff,
    154px 169px #fff, 844px 1016px #fff, 1436px 292px #fff, 1584px 1513px #fff,
    396px 1271px #fff, 391px 376px #fff, 637px 1388px #fff, 1214px 1376px #fff,
    1961px 42px #fff, 1323px 1577px #fff, 1819px 1982px #fff, 650px 62px #fff,
    516px 1707px #fff, 65px 1030px #fff, 746px 796px #fff, 1456px 606px #fff,
    1817px 864px #fff, 1840px 617px #fff, 725px 98px #fff, 618px 1127px #fff,
    1547px 252px #fff, 862px 985px #fff, 408px 1955px #fff, 1370px 474px #fff,
    1259px 1948px #fff, 1004px 1803px #fff, 252px 1471px #fff,
    1994px 1323px #fff, 1067px 186px #fff, 376px 1704px #fff, 773px 1654px #fff,
    858px 283px #fff, 1846px 1220px #fff, 581px 513px #fff, 715px 1706px #fff,
    1177px 885px #fff, 776px 1341px #fff, 1605px 1208px #fff, 1434px 1996px #fff,
    1458px 339px #fff, 1939px 540px #fff, 779px 746px #fff, 819px 1952px #fff,
    226px 1081px #fff, 651px 1392px #fff, 1272px 80px #fff, 1782px 190px #fff,
    1221px 1093px #fff, 1288px 1292px #fff, 782px 954px #fff, 1813px 1637px #fff,
    750px 857px #fff, 597px 1630px #fff, 56px 40px #fff, 1962px 1737px #fff,
    570px 1459px #fff, 1740px 246px #fff, 674px 1414px #fff, 5px 1309px #fff,
    51px 937px #fff, 1118px 250px #fff, 1885px 888px #fff, 288px 1562px #fff,
    1314px 916px #fff, 693px 74px #fff, 301px 1834px #fff, 307px 1532px #fff,
    1573px 1921px #fff, 1332px 92px #fff, 668px 1207px #fff, 1204px 1369px #fff,
    1845px 1142px #fff, 626px 1698px #fff, 1257px 1593px #fff, 1864px 123px #fff,
    340px 1177px #fff, 1867px 1200px #fff, 236px 1626px #fff, 626px 115px #fff,
    1545px 1066px #fff, 1058px 18px #fff, 1367px 1252px #fff, 811px 1008px #fff,
    215px 609px #fff, 1465px 1598px #fff, 1681px 140px #fff, 858px 1392px #fff,
    326px 700px #fff, 564px 407px #fff, 67px 962px #fff, 309px 1899px #fff,
    1556px 1022px #fff, 1059px 349px #fff, 472px 1590px #fff, 1823px 1274px #fff,
    584px 829px #fff, 714px 1161px #fff, 503px 887px #fff, 1402px 1443px #fff,
    143px 730px #fff, 366px 1258px #fff, 218px 947px #fff, 806px 1428px #fff,
    1533px 540px #fff, 658px 1116px #fff, 601px 2px #fff, 1820px 623px #fff,
    646px 1603px #fff, 1854px 387px #fff, 1584px 1621px #fff, 731px 1376px #fff,
    1519px 1818px #fff, 354px 1864px #fff, 423px 1779px #fff, 1776px 955px #fff,
    307px 1611px #fff, 1936px 901px #fff, 854px 336px #fff, 601px 138px #fff,
    1250px 67px #fff, 1563px 1657px #fff, 1705px 1767px #fff, 896px 1948px #fff,
    1182px 1361px #fff, 1396px 359px #fff, 1761px 625px #fff, 452px 1282px #fff,
    1947px 509px #fff, 1046px 1384px #fff, 1024px 824px #fff, 988px 1661px #fff,
    1949px 614px #fff, 174px 880px #fff, 802px 585px #fff, 53px 603px #fff,
    836px 755px #fff, 805px 335px #fff, 856px 672px #fff, 1024px 146px #fff,
    1624px 550px #fff, 1666px 150px #fff, 1786px 1136px #fff, 112px 1935px #fff,
    1312px 870px #fff, 1418px 1480px #fff, 37px 1850px #fff, 1925px 1601px #fff,
    152px 1864px #fff, 661px 1769px #fff, 1576px 546px #fff, 1673px 1786px #fff,
    1580px 1069px #fff, 1864px 508px #fff, 1149px 461px #fff, 764px 1888px #fff,
    1281px 891px #fff, 1292px 1181px #fff, 1342px 667px #fff, 658px 1405px #fff,
    671px 737px #fff, 1477px 634px #fff, 741px 1185px #fff, 1774px 550px #fff,
    1068px 1499px #fff, 642px 974px #fff, 146px 681px #fff, 1928px 1913px #fff,
    336px 1544px #fff, 1062px 1932px #fff, 803px 656px #fff, 44px 1018px #fff,
    1366px 1948px #fff, 1912px 562px #fff, 737px 262px #fff, 763px 968px #fff,
    1019px 1727px #fff, 863px 470px #fff, 1856px 349px #fff, 822px 1428px #fff,
    1351px 400px #fff, 234px 574px #fff, 291px 889px #fff, 1662px 1057px #fff,
    1117px 955px #fff, 1560px 1916px #fff, 1337px 765px #fff, 755px 509px #fff,
    1385px 1401px #fff, 913px 1519px #fff, 1551px 158px #fff, 1886px 267px #fff,
    1782px 1043px #fff, 1534px 625px #fff, 1492px 1480px #fff, 657px 183px #fff,
    657px 1586px #fff, 460px 1085px #fff, 458px 905px #fff, 741px 1282px #fff,
    953px 724px #fff, 1829px 277px #fff, 1136px 546px #fff, 1528px 1653px #fff,
    868px 655px #fff, 1796px 1710px #fff, 819px 1455px #fff, 127px 287px #fff,
    1750px 1015px #fff, 130px 774px #fff, 340px 562px #fff, 226px 1000px #fff,
    101px 1974px #fff, 554px 200px #fff, 286px 1881px #fff, 208px 82px #fff,
    1020px 1677px #fff, 423px 861px #fff, 1345px 621px #fff, 1313px 1767px #fff,
    1664px 327px #fff, 600px 271px #fff, 1903px 318px #fff, 1597px 1407px #fff,
    310px 1129px #fff, 798px 1763px #fff, 248px 1240px #fff, 1388px 551px #fff,
    457px 869px #fff, 632px 1934px #fff, 571px 1065px #fff, 164px 1514px #fff,
    270px 861px #fff, 1442px 86px #fff, 1188px 1454px #fff, 224px 1371px #fff,
    576px 498px #fff, 1818px 1582px #fff, 600px 1006px #fff, 1585px 1687px #fff,
    894px 1226px #fff, 1554px 1238px #fff, 1074px 453px #fff, 35px 1955px #fff,
    632px 245px #fff, 1264px 870px #fff, 371px 226px #fff, 793px 671px #fff,
    1123px 1547px #fff, 1131px 1300px #fff, 453px 34px #fff, 1634px 195px #fff,
    234px 1965px #fff, 26px 258px #fff, 1871px 1825px #fff, 522px 1363px #fff,
    1187px 110px #fff, 1883px 678px #fff, 11px 1200px #fff, 1845px 1973px #fff,
    1050px 243px #fff, 532px 409px #fff, 1110px 1611px #fff, 271px 559px #fff,
    226px 1884px #fff, 1142px 1016px #fff, 1437px 512px #fff, 739px 1251px #fff,
    1592px 139px #fff, 931px 1321px #fff, 847px 1688px #fff, 234px 981px #fff,
    1512px 506px #fff, 360px 861px #fff, 1660px 1487px #fff, 1325px 926px #fff,
    845px 98px #fff, 146px 227px #fff, 1289px 1095px #fff, 748px 551px #fff,
    1189px 249px #fff, 1654px 377px #fff, 1046px 894px #fff, 1166px 1380px #fff,
    313px 41px #fff, 317px 1642px #fff, 105px 1445px #fff, 1099px 816px #fff,
    306px 1406px #fff, 772px 40px #fff, 375px 994px #fff, 1707px 14px #fff,
    84px 417px #fff, 1970px 603px #fff, 1435px 610px #fff, 26px 1012px #fff,
    1025px 1373px #fff, 150px 1044px #fff, 646px 1917px #fff, 259px 1005px #fff,
    177px 104px #fff, 1614px 656px #fff, 1390px 1428px #fff, 1182px 809px #fff,
    344px 1810px #fff, 1357px 1172px #fff, 1813px 1131px #fff,
    1515px 1763px #fff, 121px 551px #fff, 1577px 99px #fff, 743px 1774px #fff,
    1090px 984px #fff, 1999px 733px #fff, 1266px 825px #fff, 1223px 885px #fff,
    1945px 1489px #fff, 355px 1704px #fff, 516px 216px #fff, 321px 1313px #fff,
    901px 1580px #fff, 58px 282px #fff, 181px 1240px #fff, 1156px 208px #fff,
    1422px 435px #fff, 535px 1367px #fff, 1178px 296px #fff, 6px 44px #fff,
    533px 942px #fff, 1252px 1452px #fff, 247px 434px #fff, 314px 1992px #fff,
    571px 1771px #fff, 196px 1785px #fff, 839px 243px #fff, 1497px 1199px #fff,
    970px 279px #fff, 238px 45px #fff, 1176px 1338px #fff, 125px 994px #fff,
    1372px 619px #fff, 484px 1341px #fff, 1804px 1698px #fff, 398px 1212px #fff,
    603px 858px #fff, 790px 1908px #fff, 847px 1603px #fff, 1117px 1191px #fff,
    968px 1745px #fff, 1750px 685px #fff, 1498px 925px #fff, 1364px 231px #fff,
    1085px 1807px #fff, 120px 1280px #fff, 1141px 1686px #fff, 194px 996px #fff,
    1268px 673px #fff, 1925px 195px #fff, 1188px 1871px #fff, 21px 1539px #fff,
    1197px 1504px #fff, 644px 1886px #fff, 437px 958px #fff, 1235px 1690px #fff,
    1425px 1208px #fff, 110px 1708px #fff, 1877px 818px #fff, 1667px 1679px #fff,
    762px 1389px #fff, 1508px 1580px #fff, 1514px 372px #fff, 873px 537px #fff,
    750px 1206px #fff, 36px 1942px #fff, 1981px 833px #fff, 1397px 1532px #fff,
    769px 1235px #fff, 318px 57px #fff, 120px 467px #fff, 205px 1937px #fff,
    156px 1728px #fff, 956px 1357px #fff, 445px 1914px #fff, 1400px 1613px #fff,
    1847px 1342px #fff, 440px 265px #fff, 1411px 1166px #fff, 978px 1837px #fff,
    1928px 640px #fff, 185px 1492px #fff, 1842px 273px #fff, 1869px 1716px #fff,
    1224px 1308px #fff, 1760px 1464px #fff, 1267px 1818px #fff,
    1105px 1540px #fff, 970px 160px #fff, 1128px 511px #fff, 1022px 1448px #fff,
    1552px 1021px #fff, 694px 495px #fff, 1395px 889px #fff, 1080px 1294px #fff,
    1618px 365px #fff, 1620px 406px #fff, 37px 1043px #fff, 832px 113px #fff,
    1418px 1013px #fff, 1528px 1410px #fff, 958px 1396px #fff, 1840px 138px #fff,
    171px 1268px #fff, 399px 1748px #fff, 1083px 1162px #fff, 1208px 631px #fff,
    150px 154px #fff, 12px 278px #fff, 669px 284px #fff, 1027px 46px #fff,
    1035px 558px #fff, 609px 65px #fff, 258px 912px #fff, 572px 218px #fff,
    193px 1804px #fff, 789px 1214px #fff, 1153px 1716px #fff, 477px 1654px #fff,
    1307px 1738px #fff, 262px 239px #fff, 541px 1043px #fff, 588px 665px #fff,
    20px 368px #fff, 1038px 591px #fff, 1126px 334px #fff, 1212px 53px #fff,
    546px 534px #fff, 134px 815px #fff, 61px 536px #fff, 1741px 275px #fff,
    609px 5px #fff, 455px 1006px #fff, 1970px 1591px #fff, 521px 442px #fff,
    126px 361px #fff, 844px 943px #fff, 1429px 1422px #fff, 252px 104px #fff,
    1404px 399px #fff, 1950px 931px #fff, 1021px 1598px #fff, 1836px 1798px #fff,
    1829px 1273px #fff, 1453px 338px #fff, 947px 443px #fff, 1950px 618px #fff,
    641px 513px #fff, 951px 459px #fff, 693px 1581px #fff, 1491px 813px #fff,
    1943px 688px #fff, 1136px 560px #fff, 946px 16px #fff, 844px 780px #fff,
    1848px 1545px #fff, 1112px 1228px #fff, 170px 265px #fff, 1519px 820px #fff,
    57px 983px #fff, 1302px 1021px #fff, 144px 400px #fff, 1950px 830px #fff,
    1077px 658px #fff, 644px 663px #fff, 1611px 851px #fff, 1736px 532px #fff,
    1259px 459px #fff, 1485px 1310px #fff, 656px 949px #fff, 1670px 209px #fff,
    434px 984px #fff, 203px 1571px #fff, 1180px 1623px #fff, 1772px 843px #fff,
    641px 1578px #fff, 371px 1218px #fff, 1338px 1608px #fff, 599px 271px #fff,
    1575px 136px #fff, 1177px 1080px #fff, 276px 478px #fff, 558px 186px #fff,
    1680px 1122px #fff, 887px 22px #fff, 1504px 685px #fff, 939px 1837px #fff,
    1423px 1742px #fff, 1797px 160px #fff, 69px 1625px #fff, 1528px 1570px #fff,
    595px 632px #fff, 1998px 1599px #fff, 1969px 499px #fff, 1405px 91px #fff,
    1540px 1750px #fff, 898px 805px #fff, 448px 591px #fff, 1396px 215px #fff,
    789px 1587px #fff, 1405px 1210px #fff, 2px 566px #fff, 1509px 1039px #fff,
    721px 1957px #fff, 314px 1530px #fff, 1680px 1349px #fff, 1952px 1343px #fff,
    402px 350px #fff, 168px 196px #fff, 185px 1967px #fff, 722px 1543px #fff,
    1294px 1977px #fff, 1050px 1390px #fff, 1549px 589px #fff,
    1162px 1062px #fff, 1271px 1881px #fff, 1035px 982px #fff,
    1279px 1650px #fff, 1898px 160px #fff, 1138px 794px #fff, 884px 1287px #fff,
    743px 909px #fff, 1767px 1858px #fff, 1387px 164px #fff, 354px 1290px #fff,
    1731px 1598px #fff, 1138px 281px #fff, 1482px 1028px #fff, 465px 1207px #fff,
    497px 1330px #fff, 1575px 1862px #fff, 1864px 709px #fff, 1274px 697px #fff,
    326px 410px #fff, 763px 1904px #fff, 1013px 1949px #fff, 783px 310px #fff,
    1977px 232px #fff, 509px 69px #fff, 1558px 641px #fff, 1499px 1295px #fff,
    1469px 1401px #fff, 953px 1350px #fff, 1256px 1852px #fff, 1284px 778px #fff,
    1377px 1301px #fff, 1978px 1968px #fff, 1482px 747px #fff,
    1272px 1525px #fff, 470px 1855px #fff, 1422px 863px #fff, 1308px 1592px #fff,
    248px 1624px #fff, 1104px 3px #fff, 1373px 11px #fff, 1765px 1130px #fff,
    1398px 321px #fff, 761px 127px #fff, 1045px 232px #fff, 1112px 1937px #fff,
    1852px 45px #fff, 1860px 1675px #fff, 1168px 1498px #fff, 840px 1531px #fff,
    1600px 376px #fff, 333px 1913px #fff, 1234px 318px #fff, 1790px 704px #fff,
    1815px 839px #fff, 1117px 1209px #fff, 1846px 924px #fff, 344px 813px #fff;
  animation: animStar 300s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1093px 1599px #fff, 1667px 1082px #fff, 1552px 1658px #fff,
    1225px 260px #fff, 770px 1821px #fff, 1144px 1355px #fff, 826px 1315px #fff,
    942px 1535px #fff, 314px 696px #fff, 1297px 264px #fff, 1878px 819px #fff,
    132px 1817px #fff, 878px 1058px #fff, 1357px 407px #fff, 1243px 1687px #fff,
    660px 1095px #fff, 1852px 1907px #fff, 488px 1473px #fff, 284px 316px #fff,
    907px 1522px #fff, 916px 950px #fff, 1064px 43px #fff, 953px 1906px #fff,
    782px 47px #fff, 196px 198px #fff, 1163px 1928px #fff, 1832px 1021px #fff,
    1402px 729px #fff, 646px 1747px #fff, 1448px 1463px #fff, 936px 395px #fff,
    942px 1043px #fff, 883px 1010px #fff, 1688px 1583px #fff, 983px 1128px #fff,
    1685px 1207px #fff, 460px 490px #fff, 1005px 1393px #fff, 815px 196px #fff,
    729px 1114px #fff, 869px 492px #fff, 1572px 1929px #fff, 1668px 603px #fff,
    1874px 1038px #fff, 1666px 470px #fff, 1812px 218px #fff, 215px 1903px #fff,
    1208px 1318px #fff, 169px 529px #fff, 1649px 1925px #fff, 1037px 142px #fff,
    1087px 802px #fff, 1907px 551px #fff, 210px 1600px #fff, 1490px 680px #fff,
    1392px 518px #fff, 1249px 1766px #fff, 196px 1814px #fff, 1347px 1701px #fff,
    1354px 454px #fff, 51px 1225px #fff, 1356px 1431px #fff, 1017px 92px #fff,
    1243px 126px #fff, 442px 707px #fff, 1987px 519px #fff, 1448px 1052px #fff,
    280px 532px #fff, 578px 1086px #fff, 973px 1023px #fff, 853px 866px #fff,
    861px 1321px #fff, 247px 601px #fff, 464px 182px #fff, 1598px 420px #fff,
    1243px 1648px #fff, 297px 1968px #fff, 11px 425px #fff, 1537px 287px #fff,
    1074px 1116px #fff, 1722px 82px #fff, 1015px 488px #fff, 1348px 964px #fff,
    1469px 288px #fff, 649px 506px #fff, 1468px 1184px #fff, 1894px 969px #fff,
    667px 1573px #fff, 116px 1822px #fff, 1417px 414px #fff, 1389px 89px #fff,
    1219px 1486px #fff, 1936px 1513px #fff, 1512px 1420px #fff,
    1599px 611px #fff, 1642px 1800px #fff, 880px 1793px #fff, 1793px 228px #fff,
    725px 1450px #fff, 1348px 687px #fff, 37px 747px #fff, 221px 1506px #fff,
    1029px 1629px #fff, 1223px 25px #fff, 978px 1791px #fff, 1556px 925px #fff,
    1833px 1678px #fff, 431px 1200px #fff, 667px 415px #fff, 1100px 1216px #fff,
    1006px 610px #fff, 1912px 1976px #fff, 1427px 143px #fff, 1198px 337px #fff,
    1975px 70px #fff, 660px 854px #fff, 771px 1522px #fff, 338px 1598px #fff,
    1057px 1999px #fff, 755px 1906px #fff, 221px 1376px #fff, 472px 645px #fff,
    154px 169px #fff, 844px 1016px #fff, 1436px 292px #fff, 1584px 1513px #fff,
    396px 1271px #fff, 391px 376px #fff, 637px 1388px #fff, 1214px 1376px #fff,
    1961px 42px #fff, 1323px 1577px #fff, 1819px 1982px #fff, 650px 62px #fff,
    516px 1707px #fff, 65px 1030px #fff, 746px 796px #fff, 1456px 606px #fff,
    1817px 864px #fff, 1840px 617px #fff, 725px 98px #fff, 618px 1127px #fff,
    1547px 252px #fff, 862px 985px #fff, 408px 1955px #fff, 1370px 474px #fff,
    1259px 1948px #fff, 1004px 1803px #fff, 252px 1471px #fff,
    1994px 1323px #fff, 1067px 186px #fff, 376px 1704px #fff, 773px 1654px #fff,
    858px 283px #fff, 1846px 1220px #fff, 581px 513px #fff, 715px 1706px #fff,
    1177px 885px #fff, 776px 1341px #fff, 1605px 1208px #fff, 1434px 1996px #fff,
    1458px 339px #fff, 1939px 540px #fff, 779px 746px #fff, 819px 1952px #fff,
    226px 1081px #fff, 651px 1392px #fff, 1272px 80px #fff, 1782px 190px #fff,
    1221px 1093px #fff, 1288px 1292px #fff, 782px 954px #fff, 1813px 1637px #fff,
    750px 857px #fff, 597px 1630px #fff, 56px 40px #fff, 1962px 1737px #fff,
    570px 1459px #fff, 1740px 246px #fff, 674px 1414px #fff, 5px 1309px #fff,
    51px 937px #fff, 1118px 250px #fff, 1885px 888px #fff, 288px 1562px #fff,
    1314px 916px #fff, 693px 74px #fff, 301px 1834px #fff, 307px 1532px #fff,
    1573px 1921px #fff, 1332px 92px #fff, 668px 1207px #fff, 1204px 1369px #fff,
    1845px 1142px #fff, 626px 1698px #fff, 1257px 1593px #fff, 1864px 123px #fff,
    340px 1177px #fff, 1867px 1200px #fff, 236px 1626px #fff, 626px 115px #fff,
    1545px 1066px #fff, 1058px 18px #fff, 1367px 1252px #fff, 811px 1008px #fff,
    215px 609px #fff, 1465px 1598px #fff, 1681px 140px #fff, 858px 1392px #fff,
    326px 700px #fff, 564px 407px #fff, 67px 962px #fff, 309px 1899px #fff,
    1556px 1022px #fff, 1059px 349px #fff, 472px 1590px #fff, 1823px 1274px #fff,
    584px 829px #fff, 714px 1161px #fff, 503px 887px #fff, 1402px 1443px #fff,
    143px 730px #fff, 366px 1258px #fff, 218px 947px #fff, 806px 1428px #fff,
    1533px 540px #fff, 658px 1116px #fff, 601px 2px #fff, 1820px 623px #fff,
    646px 1603px #fff, 1854px 387px #fff, 1584px 1621px #fff, 731px 1376px #fff,
    1519px 1818px #fff, 354px 1864px #fff, 423px 1779px #fff, 1776px 955px #fff,
    307px 1611px #fff, 1936px 901px #fff, 854px 336px #fff, 601px 138px #fff,
    1250px 67px #fff, 1563px 1657px #fff, 1705px 1767px #fff, 896px 1948px #fff,
    1182px 1361px #fff, 1396px 359px #fff, 1761px 625px #fff, 452px 1282px #fff,
    1947px 509px #fff, 1046px 1384px #fff, 1024px 824px #fff, 988px 1661px #fff,
    1949px 614px #fff, 174px 880px #fff, 802px 585px #fff, 53px 603px #fff,
    836px 755px #fff, 805px 335px #fff, 856px 672px #fff, 1024px 146px #fff,
    1624px 550px #fff, 1666px 150px #fff, 1786px 1136px #fff, 112px 1935px #fff,
    1312px 870px #fff, 1418px 1480px #fff, 37px 1850px #fff, 1925px 1601px #fff,
    152px 1864px #fff, 661px 1769px #fff, 1576px 546px #fff, 1673px 1786px #fff,
    1580px 1069px #fff, 1864px 508px #fff, 1149px 461px #fff, 764px 1888px #fff,
    1281px 891px #fff, 1292px 1181px #fff, 1342px 667px #fff, 658px 1405px #fff,
    671px 737px #fff, 1477px 634px #fff, 741px 1185px #fff, 1774px 550px #fff,
    1068px 1499px #fff, 642px 974px #fff, 146px 681px #fff, 1928px 1913px #fff,
    336px 1544px #fff, 1062px 1932px #fff, 803px 656px #fff, 44px 1018px #fff,
    1366px 1948px #fff, 1912px 562px #fff, 737px 262px #fff, 763px 968px #fff,
    1019px 1727px #fff, 863px 470px #fff, 1856px 349px #fff, 822px 1428px #fff,
    1351px 400px #fff, 234px 574px #fff, 291px 889px #fff, 1662px 1057px #fff,
    1117px 955px #fff, 1560px 1916px #fff, 1337px 765px #fff, 755px 509px #fff,
    1385px 1401px #fff, 913px 1519px #fff, 1551px 158px #fff, 1886px 267px #fff,
    1782px 1043px #fff, 1534px 625px #fff, 1492px 1480px #fff, 657px 183px #fff,
    657px 1586px #fff, 460px 1085px #fff, 458px 905px #fff, 741px 1282px #fff,
    953px 724px #fff, 1829px 277px #fff, 1136px 546px #fff, 1528px 1653px #fff,
    868px 655px #fff, 1796px 1710px #fff, 819px 1455px #fff, 127px 287px #fff,
    1750px 1015px #fff, 130px 774px #fff, 340px 562px #fff, 226px 1000px #fff,
    101px 1974px #fff, 554px 200px #fff, 286px 1881px #fff, 208px 82px #fff,
    1020px 1677px #fff, 423px 861px #fff, 1345px 621px #fff, 1313px 1767px #fff,
    1664px 327px #fff, 600px 271px #fff, 1903px 318px #fff, 1597px 1407px #fff,
    310px 1129px #fff, 798px 1763px #fff, 248px 1240px #fff, 1388px 551px #fff,
    457px 869px #fff, 632px 1934px #fff, 571px 1065px #fff, 164px 1514px #fff,
    270px 861px #fff, 1442px 86px #fff, 1188px 1454px #fff, 224px 1371px #fff,
    576px 498px #fff, 1818px 1582px #fff, 600px 1006px #fff, 1585px 1687px #fff,
    894px 1226px #fff, 1554px 1238px #fff, 1074px 453px #fff, 35px 1955px #fff,
    632px 245px #fff, 1264px 870px #fff, 371px 226px #fff, 793px 671px #fff,
    1123px 1547px #fff, 1131px 1300px #fff, 453px 34px #fff, 1634px 195px #fff,
    234px 1965px #fff, 26px 258px #fff, 1871px 1825px #fff, 522px 1363px #fff,
    1187px 110px #fff, 1883px 678px #fff, 11px 1200px #fff, 1845px 1973px #fff,
    1050px 243px #fff, 532px 409px #fff, 1110px 1611px #fff, 271px 559px #fff,
    226px 1884px #fff, 1142px 1016px #fff, 1437px 512px #fff, 739px 1251px #fff,
    1592px 139px #fff, 931px 1321px #fff, 847px 1688px #fff, 234px 981px #fff,
    1512px 506px #fff, 360px 861px #fff, 1660px 1487px #fff, 1325px 926px #fff,
    845px 98px #fff, 146px 227px #fff, 1289px 1095px #fff, 748px 551px #fff,
    1189px 249px #fff, 1654px 377px #fff, 1046px 894px #fff, 1166px 1380px #fff,
    313px 41px #fff, 317px 1642px #fff, 105px 1445px #fff, 1099px 816px #fff,
    306px 1406px #fff, 772px 40px #fff, 375px 994px #fff, 1707px 14px #fff,
    84px 417px #fff, 1970px 603px #fff, 1435px 610px #fff, 26px 1012px #fff,
    1025px 1373px #fff, 150px 1044px #fff, 646px 1917px #fff, 259px 1005px #fff,
    177px 104px #fff, 1614px 656px #fff, 1390px 1428px #fff, 1182px 809px #fff,
    344px 1810px #fff, 1357px 1172px #fff, 1813px 1131px #fff,
    1515px 1763px #fff, 121px 551px #fff, 1577px 99px #fff, 743px 1774px #fff,
    1090px 984px #fff, 1999px 733px #fff, 1266px 825px #fff, 1223px 885px #fff,
    1945px 1489px #fff, 355px 1704px #fff, 516px 216px #fff, 321px 1313px #fff,
    901px 1580px #fff, 58px 282px #fff, 181px 1240px #fff, 1156px 208px #fff,
    1422px 435px #fff, 535px 1367px #fff, 1178px 296px #fff, 6px 44px #fff,
    533px 942px #fff, 1252px 1452px #fff, 247px 434px #fff, 314px 1992px #fff,
    571px 1771px #fff, 196px 1785px #fff, 839px 243px #fff, 1497px 1199px #fff,
    970px 279px #fff, 238px 45px #fff, 1176px 1338px #fff, 125px 994px #fff,
    1372px 619px #fff, 484px 1341px #fff, 1804px 1698px #fff, 398px 1212px #fff,
    603px 858px #fff, 790px 1908px #fff, 847px 1603px #fff, 1117px 1191px #fff,
    968px 1745px #fff, 1750px 685px #fff, 1498px 925px #fff, 1364px 231px #fff,
    1085px 1807px #fff, 120px 1280px #fff, 1141px 1686px #fff, 194px 996px #fff,
    1268px 673px #fff, 1925px 195px #fff, 1188px 1871px #fff, 21px 1539px #fff,
    1197px 1504px #fff, 644px 1886px #fff, 437px 958px #fff, 1235px 1690px #fff,
    1425px 1208px #fff, 110px 1708px #fff, 1877px 818px #fff, 1667px 1679px #fff,
    762px 1389px #fff, 1508px 1580px #fff, 1514px 372px #fff, 873px 537px #fff,
    750px 1206px #fff, 36px 1942px #fff, 1981px 833px #fff, 1397px 1532px #fff,
    769px 1235px #fff, 318px 57px #fff, 120px 467px #fff, 205px 1937px #fff,
    156px 1728px #fff, 956px 1357px #fff, 445px 1914px #fff, 1400px 1613px #fff,
    1847px 1342px #fff, 440px 265px #fff, 1411px 1166px #fff, 978px 1837px #fff,
    1928px 640px #fff, 185px 1492px #fff, 1842px 273px #fff, 1869px 1716px #fff,
    1224px 1308px #fff, 1760px 1464px #fff, 1267px 1818px #fff,
    1105px 1540px #fff, 970px 160px #fff, 1128px 511px #fff, 1022px 1448px #fff,
    1552px 1021px #fff, 694px 495px #fff, 1395px 889px #fff, 1080px 1294px #fff,
    1618px 365px #fff, 1620px 406px #fff, 37px 1043px #fff, 832px 113px #fff,
    1418px 1013px #fff, 1528px 1410px #fff, 958px 1396px #fff, 1840px 138px #fff,
    171px 1268px #fff, 399px 1748px #fff, 1083px 1162px #fff, 1208px 631px #fff,
    150px 154px #fff, 12px 278px #fff, 669px 284px #fff, 1027px 46px #fff,
    1035px 558px #fff, 609px 65px #fff, 258px 912px #fff, 572px 218px #fff,
    193px 1804px #fff, 789px 1214px #fff, 1153px 1716px #fff, 477px 1654px #fff,
    1307px 1738px #fff, 262px 239px #fff, 541px 1043px #fff, 588px 665px #fff,
    20px 368px #fff, 1038px 591px #fff, 1126px 334px #fff, 1212px 53px #fff,
    546px 534px #fff, 134px 815px #fff, 61px 536px #fff, 1741px 275px #fff,
    609px 5px #fff, 455px 1006px #fff, 1970px 1591px #fff, 521px 442px #fff,
    126px 361px #fff, 844px 943px #fff, 1429px 1422px #fff, 252px 104px #fff,
    1404px 399px #fff, 1950px 931px #fff, 1021px 1598px #fff, 1836px 1798px #fff,
    1829px 1273px #fff, 1453px 338px #fff, 947px 443px #fff, 1950px 618px #fff,
    641px 513px #fff, 951px 459px #fff, 693px 1581px #fff, 1491px 813px #fff,
    1943px 688px #fff, 1136px 560px #fff, 946px 16px #fff, 844px 780px #fff,
    1848px 1545px #fff, 1112px 1228px #fff, 170px 265px #fff, 1519px 820px #fff,
    57px 983px #fff, 1302px 1021px #fff, 144px 400px #fff, 1950px 830px #fff,
    1077px 658px #fff, 644px 663px #fff, 1611px 851px #fff, 1736px 532px #fff,
    1259px 459px #fff, 1485px 1310px #fff, 656px 949px #fff, 1670px 209px #fff,
    434px 984px #fff, 203px 1571px #fff, 1180px 1623px #fff, 1772px 843px #fff,
    641px 1578px #fff, 371px 1218px #fff, 1338px 1608px #fff, 599px 271px #fff,
    1575px 136px #fff, 1177px 1080px #fff, 276px 478px #fff, 558px 186px #fff,
    1680px 1122px #fff, 887px 22px #fff, 1504px 685px #fff, 939px 1837px #fff,
    1423px 1742px #fff, 1797px 160px #fff, 69px 1625px #fff, 1528px 1570px #fff,
    595px 632px #fff, 1998px 1599px #fff, 1969px 499px #fff, 1405px 91px #fff,
    1540px 1750px #fff, 898px 805px #fff, 448px 591px #fff, 1396px 215px #fff,
    789px 1587px #fff, 1405px 1210px #fff, 2px 566px #fff, 1509px 1039px #fff,
    721px 1957px #fff, 314px 1530px #fff, 1680px 1349px #fff, 1952px 1343px #fff,
    402px 350px #fff, 168px 196px #fff, 185px 1967px #fff, 722px 1543px #fff,
    1294px 1977px #fff, 1050px 1390px #fff, 1549px 589px #fff,
    1162px 1062px #fff, 1271px 1881px #fff, 1035px 982px #fff,
    1279px 1650px #fff, 1898px 160px #fff, 1138px 794px #fff, 884px 1287px #fff,
    743px 909px #fff, 1767px 1858px #fff, 1387px 164px #fff, 354px 1290px #fff,
    1731px 1598px #fff, 1138px 281px #fff, 1482px 1028px #fff, 465px 1207px #fff,
    497px 1330px #fff, 1575px 1862px #fff, 1864px 709px #fff, 1274px 697px #fff,
    326px 410px #fff, 763px 1904px #fff, 1013px 1949px #fff, 783px 310px #fff,
    1977px 232px #fff, 509px 69px #fff, 1558px 641px #fff, 1499px 1295px #fff,
    1469px 1401px #fff, 953px 1350px #fff, 1256px 1852px #fff, 1284px 778px #fff,
    1377px 1301px #fff, 1978px 1968px #fff, 1482px 747px #fff,
    1272px 1525px #fff, 470px 1855px #fff, 1422px 863px #fff, 1308px 1592px #fff,
    248px 1624px #fff, 1104px 3px #fff, 1373px 11px #fff, 1765px 1130px #fff,
    1398px 321px #fff, 761px 127px #fff, 1045px 232px #fff, 1112px 1937px #fff,
    1852px 45px #fff, 1860px 1675px #fff, 1168px 1498px #fff, 840px 1531px #fff,
    1600px 376px #fff, 333px 1913px #fff, 1234px 318px #fff, 1790px 704px #fff,
    1815px 839px #fff, 1117px 1209px #fff, 1846px 924px #fff, 344px 813px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1051px 1828px #fff, 1889px 371px #fff, 1415px 1796px #fff,
    337px 247px #fff, 472px 1831px #fff, 1483px 1275px #fff, 1226px 321px #fff,
    1359px 234px #fff, 1225px 1447px #fff, 440px 18px #fff, 396px 1557px #fff,
    1095px 1243px #fff, 60px 740px #fff, 619px 1455px #fff, 1484px 1611px #fff,
    1993px 1473px #fff, 37px 860px #fff, 937px 1289px #fff, 1115px 1572px #fff,
    1068px 135px #fff, 209px 48px #fff, 920px 1979px #fff, 1452px 1849px #fff,
    1106px 1593px #fff, 1226px 1105px #fff, 1867px 207px #fff, 960px 1132px #fff,
    1004px 318px #fff, 1047px 1783px #fff, 1977px 1171px #fff, 797px 1787px #fff,
    1374px 1119px #fff, 1966px 1973px #fff, 1398px 773px #fff, 286px 1537px #fff,
    1430px 1922px #fff, 1046px 554px #fff, 1818px 517px #fff, 527px 809px #fff,
    320px 1531px #fff, 1219px 1980px #fff, 1563px 973px #fff, 1589px 593px #fff,
    1956px 512px #fff, 537px 886px #fff, 141px 595px #fff, 320px 1433px #fff,
    204px 625px #fff, 222px 1704px #fff, 962px 484px #fff, 17px 1671px #fff,
    213px 326px #fff, 1132px 686px #fff, 550px 1278px #fff, 1128px 1542px #fff,
    1289px 1137px #fff, 868px 614px #fff, 812px 1003px #fff, 1365px 1265px #fff,
    945px 605px #fff, 179px 1869px #fff, 286px 143px #fff, 475px 1768px #fff,
    1871px 825px #fff, 1402px 906px #fff, 253px 1700px #fff, 1270px 1442px #fff,
    1845px 764px #fff, 799px 962px #fff, 1649px 761px #fff, 914px 1608px #fff,
    1723px 514px #fff, 421px 1754px #fff, 1075px 1447px #fff, 607px 1546px #fff,
    778px 1732px #fff, 320px 1357px #fff, 1513px 434px #fff, 676px 761px #fff,
    13px 167px #fff, 666px 1725px #fff, 1851px 903px #fff, 620px 341px #fff,
    1662px 648px #fff, 956px 1709px #fff, 337px 415px #fff, 700px 149px #fff,
    1421px 1522px #fff, 302px 962px #fff, 41px 1368px #fff, 1750px 1337px #fff,
    806px 749px #fff, 598px 1875px #fff, 425px 1522px #fff, 227px 1404px #fff,
    750px 401px #fff, 1549px 1753px #fff, 1630px 460px #fff, 1256px 566px #fff,
    1112px 726px #fff, 1438px 345px #fff, 1608px 618px #fff, 1335px 626px #fff,
    1032px 723px #fff, 485px 343px #fff, 246px 1316px #fff, 254px 949px #fff,
    1516px 1844px #fff, 1097px 1001px #fff, 1058px 543px #fff,
    1784px 1297px #fff, 1040px 15px #fff, 120px 1247px #fff, 753px 1485px #fff,
    1923px 1781px #fff, 1336px 406px #fff, 1061px 514px #fff, 1003px 1488px #fff,
    1127px 813px #fff, 650px 403px #fff, 1872px 1908px #fff, 925px 964px #fff,
    1141px 557px #fff, 916px 1623px #fff, 112px 22px #fff, 1459px 10px #fff,
    1216px 434px #fff, 1268px 1035px #fff, 1017px 1458px #fff,
    1852px 1667px #fff, 770px 1021px #fff, 627px 1459px #fff, 120px 1724px #fff,
    969px 395px #fff, 1151px 500px #fff, 1870px 142px #fff, 1936px 1106px #fff,
    93px 1412px #fff, 180px 14px #fff, 1529px 1786px #fff, 1642px 53px #fff,
    1358px 1711px #fff, 531px 825px #fff, 593px 1194px #fff, 1548px 1754px #fff,
    196px 1858px #fff, 1077px 145px #fff, 1701px 601px #fff, 1925px 199px #fff,
    714px 933px #fff, 302px 952px #fff, 1326px 280px #fff, 1313px 128px #fff,
    1546px 329px #fff, 356px 696px #fff, 757px 1779px #fff, 30px 942px #fff,
    29px 1836px #fff, 864px 602px #fff, 1368px 1843px #fff, 1901px 59px #fff,
    1580px 1113px #fff, 1741px 1890px #fff, 1646px 625px #fff, 626px 1808px #fff,
    1920px 1284px #fff, 1481px 1949px #fff, 471px 1794px #fff, 1194px 763px #fff,
    215px 894px #fff, 1276px 1546px #fff, 297px 937px #fff, 306px 18px #fff,
    222px 1267px #fff, 679px 459px #fff, 1802px 460px #fff, 499px 1581px #fff,
    651px 1756px #fff, 237px 1398px #fff, 216px 788px #fff, 1191px 763px #fff,
    373px 1703px #fff, 1859px 1117px #fff, 637px 1698px #fff, 269px 1271px #fff,
    1888px 1395px #fff, 515px 722px #fff, 132px 993px #fff, 446px 1615px #fff,
    650px 253px #fff, 76px 259px #fff, 1845px 1331px #fff, 968px 1041px #fff,
    1694px 796px #fff, 717px 1596px #fff, 1925px 194px #fff, 1976px 304px #fff,
    405px 623px #fff, 1240px 162px #fff, 776px 78px #fff;
  animation: animStar 5000s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1051px 1828px #fff, 1889px 371px #fff, 1415px 1796px #fff,
    337px 247px #fff, 472px 1831px #fff, 1483px 1275px #fff, 1226px 321px #fff,
    1359px 234px #fff, 1225px 1447px #fff, 440px 18px #fff, 396px 1557px #fff,
    1095px 1243px #fff, 60px 740px #fff, 619px 1455px #fff, 1484px 1611px #fff,
    1993px 1473px #fff, 37px 860px #fff, 937px 1289px #fff, 1115px 1572px #fff,
    1068px 135px #fff, 209px 48px #fff, 920px 1979px #fff, 1452px 1849px #fff,
    1106px 1593px #fff, 1226px 1105px #fff, 1867px 207px #fff, 960px 1132px #fff,
    1004px 318px #fff, 1047px 1783px #fff, 1977px 1171px #fff, 797px 1787px #fff,
    1374px 1119px #fff, 1966px 1973px #fff, 1398px 773px #fff, 286px 1537px #fff,
    1430px 1922px #fff, 1046px 554px #fff, 1818px 517px #fff, 527px 809px #fff,
    320px 1531px #fff, 1219px 1980px #fff, 1563px 973px #fff, 1589px 593px #fff,
    1956px 512px #fff, 537px 886px #fff, 141px 595px #fff, 320px 1433px #fff,
    204px 625px #fff, 222px 1704px #fff, 962px 484px #fff, 17px 1671px #fff,
    213px 326px #fff, 1132px 686px #fff, 550px 1278px #fff, 1128px 1542px #fff,
    1289px 1137px #fff, 868px 614px #fff, 812px 1003px #fff, 1365px 1265px #fff,
    945px 605px #fff, 179px 1869px #fff, 286px 143px #fff, 475px 1768px #fff,
    1871px 825px #fff, 1402px 906px #fff, 253px 1700px #fff, 1270px 1442px #fff,
    1845px 764px #fff, 799px 962px #fff, 1649px 761px #fff, 914px 1608px #fff,
    1723px 514px #fff, 421px 1754px #fff, 1075px 1447px #fff, 607px 1546px #fff,
    778px 1732px #fff, 320px 1357px #fff, 1513px 434px #fff, 676px 761px #fff,
    13px 167px #fff, 666px 1725px #fff, 1851px 903px #fff, 620px 341px #fff,
    1662px 648px #fff, 956px 1709px #fff, 337px 415px #fff, 700px 149px #fff,
    1421px 1522px #fff, 302px 962px #fff, 41px 1368px #fff, 1750px 1337px #fff,
    806px 749px #fff, 598px 1875px #fff, 425px 1522px #fff, 227px 1404px #fff,
    750px 401px #fff, 1549px 1753px #fff, 1630px 460px #fff, 1256px 566px #fff,
    1112px 726px #fff, 1438px 345px #fff, 1608px 618px #fff, 1335px 626px #fff,
    1032px 723px #fff, 485px 343px #fff, 246px 1316px #fff, 254px 949px #fff,
    1516px 1844px #fff, 1097px 1001px #fff, 1058px 543px #fff,
    1784px 1297px #fff, 1040px 15px #fff, 120px 1247px #fff, 753px 1485px #fff,
    1923px 1781px #fff, 1336px 406px #fff, 1061px 514px #fff, 1003px 1488px #fff,
    1127px 813px #fff, 650px 403px #fff, 1872px 1908px #fff, 925px 964px #fff,
    1141px 557px #fff, 916px 1623px #fff, 112px 22px #fff, 1459px 10px #fff,
    1216px 434px #fff, 1268px 1035px #fff, 1017px 1458px #fff,
    1852px 1667px #fff, 770px 1021px #fff, 627px 1459px #fff, 120px 1724px #fff,
    969px 395px #fff, 1151px 500px #fff, 1870px 142px #fff, 1936px 1106px #fff,
    93px 1412px #fff, 180px 14px #fff, 1529px 1786px #fff, 1642px 53px #fff,
    1358px 1711px #fff, 531px 825px #fff, 593px 1194px #fff, 1548px 1754px #fff,
    196px 1858px #fff, 1077px 145px #fff, 1701px 601px #fff, 1925px 199px #fff,
    714px 933px #fff, 302px 952px #fff, 1326px 280px #fff, 1313px 128px #fff,
    1546px 329px #fff, 356px 696px #fff, 757px 1779px #fff, 30px 942px #fff,
    29px 1836px #fff, 864px 602px #fff, 1368px 1843px #fff, 1901px 59px #fff,
    1580px 1113px #fff, 1741px 1890px #fff, 1646px 625px #fff, 626px 1808px #fff,
    1920px 1284px #fff, 1481px 1949px #fff, 471px 1794px #fff, 1194px 763px #fff,
    215px 894px #fff, 1276px 1546px #fff, 297px 937px #fff, 306px 18px #fff,
    222px 1267px #fff, 679px 459px #fff, 1802px 460px #fff, 499px 1581px #fff,
    651px 1756px #fff, 237px 1398px #fff, 216px 788px #fff, 1191px 763px #fff,
    373px 1703px #fff, 1859px 1117px #fff, 637px 1698px #fff, 269px 1271px #fff,
    1888px 1395px #fff, 515px 722px #fff, 132px 993px #fff, 446px 1615px #fff,
    650px 253px #fff, 76px 259px #fff, 1845px 1331px #fff, 968px 1041px #fff,
    1694px 796px #fff, 717px 1596px #fff, 1925px 194px #fff, 1976px 304px #fff,
    405px 623px #fff, 1240px 162px #fff, 776px 78px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 613px 1446px #fff, 1369px 927px #fff, 34px 1438px #fff,
    781px 1671px #fff, 301px 1384px #fff, 296px 499px #fff, 237px 1404px #fff,
    1902px 1629px #fff, 263px 1072px #fff, 990px 1934px #fff, 690px 1052px #fff,
    1636px 1451px #fff, 899px 1105px #fff, 932px 1706px #fff, 1820px 451px #fff,
    1406px 1698px #fff, 841px 1202px #fff, 340px 811px #fff, 1789px 1921px #fff,
    7px 612px #fff, 1522px 330px #fff, 1731px 1726px #fff, 1271px 364px #fff,
    1186px 691px #fff, 1296px 1277px #fff, 1144px 1716px #fff, 848px 1100px #fff,
    699px 609px #fff, 1180px 243px #fff, 266px 1086px #fff, 1401px 1566px #fff,
    310px 1091px #fff, 590px 1835px #fff, 548px 812px #fff, 943px 591px #fff,
    1992px 12px #fff, 1964px 43px #fff, 1385px 1621px #fff, 274px 1640px #fff,
    1728px 1971px #fff, 1354px 410px #fff, 1852px 1761px #fff, 614px 747px #fff,
    1796px 1822px #fff, 475px 1772px #fff, 1075px 1772px #fff,
    1834px 1315px #fff, 522px 915px #fff, 642px 221px #fff, 765px 576px #fff,
    1171px 35px #fff, 1343px 760px #fff, 783px 817px #fff, 130px 952px #fff,
    367px 1810px #fff, 1781px 1420px #fff, 1734px 1954px #fff, 167px 1697px #fff,
    81px 1136px #fff, 475px 116px #fff, 1313px 1663px #fff, 894px 1160px #fff,
    267px 1290px #fff, 1673px 1359px #fff, 1442px 256px #fff, 1836px 1932px #fff,
    1404px 1892px #fff, 834px 1659px #fff, 723px 1631px #fff, 1710px 1695px #fff,
    729px 885px #fff, 673px 1795px #fff, 1311px 1411px #fff, 299px 515px #fff,
    1359px 1052px #fff, 1484px 559px #fff, 1042px 1490px #fff, 570px 922px #fff,
    60px 1055px #fff, 161px 846px #fff, 714px 470px #fff, 962px 490px #fff,
    1826px 878px #fff, 270px 1655px #fff, 1839px 1576px #fff, 1226px 621px #fff,
    118px 468px #fff, 1px 413px #fff, 1506px 617px #fff, 484px 1325px #fff,
    210px 544px #fff, 568px 620px #fff, 76px 1221px #fff, 768px 823px #fff,
    851px 356px #fff, 347px 952px #fff, 1140px 1389px #fff, 1307px 1880px #fff,
    414px 316px #fff, 1540px 383px #fff;
  animation: animStar 200s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 613px 1446px #fff, 1369px 927px #fff, 34px 1438px #fff,
    781px 1671px #fff, 301px 1384px #fff, 296px 499px #fff, 237px 1404px #fff,
    1902px 1629px #fff, 263px 1072px #fff, 990px 1934px #fff, 690px 1052px #fff,
    1636px 1451px #fff, 899px 1105px #fff, 932px 1706px #fff, 1820px 451px #fff,
    1406px 1698px #fff, 841px 1202px #fff, 340px 811px #fff, 1789px 1921px #fff,
    7px 612px #fff, 1522px 330px #fff, 1731px 1726px #fff, 1271px 364px #fff,
    1186px 691px #fff, 1296px 1277px #fff, 1144px 1716px #fff, 848px 1100px #fff,
    699px 609px #fff, 1180px 243px #fff, 266px 1086px #fff, 1401px 1566px #fff,
    310px 1091px #fff, 590px 1835px #fff, 548px 812px #fff, 943px 591px #fff,
    1992px 12px #fff, 1964px 43px #fff, 1385px 1621px #fff, 274px 1640px #fff,
    1728px 1971px #fff, 1354px 410px #fff, 1852px 1761px #fff, 614px 747px #fff,
    1796px 1822px #fff, 475px 1772px #fff, 1075px 1772px #fff,
    1834px 1315px #fff, 522px 915px #fff, 642px 221px #fff, 765px 576px #fff,
    1171px 35px #fff, 1343px 760px #fff, 783px 817px #fff, 130px 952px #fff,
    367px 1810px #fff, 1781px 1420px #fff, 1734px 1954px #fff, 167px 1697px #fff,
    81px 1136px #fff, 475px 116px #fff, 1313px 1663px #fff, 894px 1160px #fff,
    267px 1290px #fff, 1673px 1359px #fff, 1442px 256px #fff, 1836px 1932px #fff,
    1404px 1892px #fff, 834px 1659px #fff, 723px 1631px #fff, 1710px 1695px #fff,
    729px 885px #fff, 673px 1795px #fff, 1311px 1411px #fff, 299px 515px #fff,
    1359px 1052px #fff, 1484px 559px #fff, 1042px 1490px #fff, 570px 922px #fff,
    60px 1055px #fff, 161px 846px #fff, 714px 470px #fff, 962px 490px #fff,
    1826px 878px #fff, 270px 1655px #fff, 1839px 1576px #fff, 1226px 621px #fff,
    118px 468px #fff, 1px 413px #fff, 1506px 617px #fff, 484px 1325px #fff,
    210px 544px #fff, 568px 620px #fff, 76px 1221px #fff, 768px 823px #fff,
    851px 356px #fff, 347px 952px #fff, 1140px 1389px #fff, 1307px 1880px #fff,
    414px 316px #fff, 1540px 383px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
